<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:fragment="title">Tiêu đề mặc định</title>
</head>
<body>
<header>
    <h1>Logo Nhà Hàng</h1>
</header>

<main layout:fragment="content">
    <h2>Chỉnh sửa món ăn</h2>
    <form th:action="@{|/bai3/update/${dish.id}|}" th:object="${dish}" method="post">
        <label>Tên món:</label>
        <input type="text" th:field="*{name}" /><br/>

        <label>Giá:</label>
        <input type="number" th:field="*{price}" /><br/>

        <label>Còn hàng:</label>
        <input type="checkbox" th:field="*{isAvailable}" /><br/>

        <button type="submit">Cập nhật</button>
    </form>
</main>

<footer>
    <p>Liên hệ: abc@example.com</p>
</footer>
</body>
</html>